<div class="container login-container" fxLayout="row" fxLayoutAlign="center center">
  <form [formGroup]="registerForm" fxFlex="30%" fxFlex.sm="50%" fxFlex.xs="90%">
      <mat-card>
          <mat-card-title>portal poverenika</mat-card-title>
          <mat-card-subtitle>Registrujte se</mat-card-subtitle>
          <mat-card-content>

              <mat-form-field class="full-width">
                  <input id="emailInput" matInput placeholder="Email" formControlName="email" autocomplete="email"
                      type="email">

                  <mat-error id="invalidEmailError" *ngIf="registerForm.controls['email'].hasError('email')">
                      Unesite validan email
                  </mat-error>
                  <mat-error id="requiredEmailError" *ngIf="registerForm.controls['email'].hasError('required')">
                    Email je 
                      <strong>obavezan</strong>
                  </mat-error>

              </mat-form-field>

              <mat-form-field class="full-width">
                <input id="firstNameInput" matInput placeholder="Ime" formControlName="first_name" 
                    type="text">
                <mat-error id="invalidFirstNameError" *ngIf="registerForm.controls['first_name'].hasError('pattern')">
                    Ime se mora sastojati samo od slova
                </mat-error>
                <mat-error id="requiredFirstNameError" *ngIf="registerForm.controls['first_name'].hasError('required')">
                  Ime je
                    <strong>obavezno</strong>
                </mat-error>
                <mat-error *ngIf="registerForm.controls['first_name'].hasError('minlength') || registerForm.get('first_name').hasError('maxlength')">
                    Ime mora imati između 2 i 24 karakterera.
                </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                <input id="lastNameInput" matInput placeholder="Prezime" formControlName="last_name" 
                    type="text">
                <mat-error id="invalidLastNameError" *ngIf="registerForm.controls['last_name'].hasError('pattern')">
                    Prezime se mora sastojati samo od slova
                </mat-error>
                <mat-error id="requiredFirstNameError" *ngIf="registerForm.controls['first_name'].hasError('required')">
                  Prezime je
                    <strong>obavezno</strong>
                </mat-error>
                <mat-error *ngIf="registerForm.controls['last_name'].hasError('minlength') || registerForm.get('last_name').hasError('maxlength')">
                    Prezime mora imati između 2 i 24 karakterera.
                </mat-error>
              </mat-form-field>
              

              <mat-form-field class="full-width">
                  <input id="passwordInput" matInput placeholder="Lozinka" formControlName="password" type="password"
                      autocomplete="current-password">
                  <mat-error id="requiredPasswordError" *ngIf="registerForm.controls['password'].hasError('required')">
                      Lozinka je
                      <strong>obavezna</strong>
                  </mat-error>
                  <mat-error *ngIf="registerForm.controls['password'].hasError('minlength') || registerForm.get('password').hasError('maxlength')">
                   Lozinka mora imati između 8 i 18 karakterera.
                  </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                <input id="confirmPassword" matInput placeholder="Ponovite lozinku" formControlName="confirmPassword" type="password"
                    autocomplete="current-password">
                <mat-error id="requiredPasswordError" *ngIf="registerForm.controls['confirmPassword'].hasError('required')">
                    Ponovna lozinka je
                    <strong>obavezna</strong>
                </mat-error>
            </mat-form-field>

              <div class="full-width">
                  <mat-slide-toggle formControlName="rememberMe">Zapamti moj email</mat-slide-toggle>
              </div>

          </mat-card-content>

          <mat-card-actions class="login-actions">
              <button mat-raised-button id="login" color="primary" [disabled]="registerForm.invalid || loading"
                  (click)="register()">Registrujte se</button>
              <button mat-button id="resetPassword" (click)="login()" type="button">Ulogujte se</button>
          </mat-card-actions>

      </mat-card>

      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </form>
</div>