<mat-toolbar class="app-header" color="primary">
  <div><a href="/" target="_blank" class="positronx" style="color: white;">Organ vlasti</a></div>
  <span *ngIf="this.currentUser === null" class="nav-tool-items" fxLayoutAlign="center center">
    <a mat-button (click)="goToLogin()">Prijava</a>
    <a mat-button (click)="goToRegistration()">Registracija</a>
  </span>
</mat-toolbar>