<h3 mat-dialog-title><strong>Kreiraj obaveštenje</strong></h3>
<mat-dialog-content>
  <div id="noticeEditor">

  </div>
  <button mat-raised-button id="obavestenje" color="primary" (click)="createNotice()" tabindex="-1">Pošalji
    obaveštenje</button>
</mat-dialog-content>
