<app-header></app-header>
<div class="container login-container" fxLayout="row" fxLayoutAlign="center center">
  <form [formGroup]="loginForm" fxFlex="30%" fxFlex.sm="50%" fxFlex.xs="90%">
    <mat-card class="box">
      <mat-card-title>Portal organa vlasti</mat-card-title>
      <mat-card-subtitle>Prijavite se na svoj nalog</mat-card-subtitle>

      <mat-card-content>

        <mat-form-field class="full-width">
          <input id="emailInput" matInput placeholder="E-adresa" formControlName="email" autocomplete="email"
            type="email">

          <mat-error id="invalidEmailError" *ngIf="loginForm.controls['email'].hasError('email')">
            Unesite validnu e-adresu.
          </mat-error>
          <mat-error id="requiredEmailError" *ngIf="loginForm.controls['email'].hasError('required')">
            E-adresa je
            <strong>obavezna!</strong>
          </mat-error>

        </mat-form-field>

        <mat-form-field class="full-width">
          <input id="passwordInput" matInput placeholder="Lozinka" formControlName="password"
            [type]="hide ? 'password' : 'text'" autocomplete="current-password">
          <mat-icon matSuffix (click)="showPassword()" style="cursor: pointer;">{{hide ? 'visibility_off' :
            'visibility'}}
          </mat-icon>
          <mat-error id="requiredPasswordError" *ngIf="loginForm.controls['password'].hasError('required')">
            Lozinka je
            <strong>obavezna!</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="login-actions">
        <button mat-raised-button id="login" color="primary" [disabled]="loginForm.invalid || loading"
          (click)="login()">Prijavite se</button>
      </mat-card-actions>
    </mat-card>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </form>
</div>