<!-- <div class="container" fxLayout="row" fxLayoutAlign="center none"></div> -->
<div fxFlex="95%">
  <mat-card>
    <mat-card-content>
      <div *ngIf="isAdmin">
        <h2>Rešene žalbe na odbijanje zahteva</h2>
        <app-appeal-show [showData]="data"> </app-appeal-show>

        <h2>Nerešene žalbe na odbijanje zahteva</h2>
        <app-appeal-show [showData]="dataUnresolved"> </app-appeal-show>
      </div>

      <div *ngIf = "!isAdmin">
        <h2>Vaše žalbe na odbijanje zahteva</h2>
        <app-appeal-show [showData]="dataCitizien"> </app-appeal-show>
      </div>
    </mat-card-content>
  </mat-card>
</div>
