<mat-form-field style="padding-left: 10px;">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Bilo šta iz tabele" />
</mat-form-field>


<mat-table mat-table #table [dataSource]="dataSourceRequests" matSort class="zaduzbinar-table">
  <ng-container matColumnDef="brojZahtjeva">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Broj</mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element">
      {{element.brojZahtjeva}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="trazilac">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Trazilac</mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element">{{ element.trazilac }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="mjesto">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Mjesto</mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element">{{
      element.mjesto
      }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="datumPodnosenja">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Datum podnošenja</mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element">{{
      element.datumPodnosenja | date: "dd-MM-yyyy"
      }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="organ">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Naziv organa</mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element">{{
      element.organ
      }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="odobren">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Odobren</mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element">{{
      element.odobren
      }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="odbijanje">
    <mat-header-cell mat-header-cell *matHeaderCellDef [hidden]="currentUser.isCitizen">Odbij</mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element" [hidden]="currentUser.isCitizen">
      <button *ngIf="element.odobren==='U procesu'" class="icon_buttons" mat-button mat-icon-button color="warn"
        matTooltip="Odbij zahtev" aria-label="Odbij zahtev" (click)="decline(element.brojZahtjeva)">
        <mat-icon>disabled_by_default</mat-icon>
      </button>
      <button disabled class="icon_buttons" *ngIf="element.odobren!=='U procesu'" mat-button mat-icon-button
        color="warn" matTooltip="Odbij zahtev" aria-label="Odbij zahtev">
        <mat-icon>disabled_by_default</mat-icon>
      </button>
      <mat-spinner *ngIf="declining" [diameter]="35"></mat-spinner>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="obavjestenje">
    <mat-header-cell mat-header-cell *matHeaderCellDef [hidden]="currentUser.isCitizen">Odobri
    </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element" [hidden]="currentUser.isCitizen">
      <button *ngIf="element.odobren==='U procesu'" class="icon_buttons" mat-button mat-icon-button color="accent"
        matTooltip="Napiši obavještenje" aria-label="Napiši obavještenje" (click)="createNotice(element.brojZahtjeva)">
        <mat-icon>check_box</mat-icon>
      </button>
      <button disabled class="icon_buttons" *ngIf="element.odobren!=='U procesu'" mat-button mat-icon-button
        color="warn" matTooltip="Napiši obavještenje" aria-label="Napisi obavjestenje">
        <mat-icon>check_box</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="preuzimanje">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Preuzimanje dokumenata</mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element">
      <button mat-button matTooltip="Preuzmi u pdf formatu" aria-label="Preuzmi u pdf formatu"
        (click)="exportPDF(element.brojZahtjeva)">PDF</button>
      <button mat-button matTooltip="Preuzmi u xhtml formatu" aria-label="Preuzmi u xhtml formatu"
        (click)="exportXHTML(element.brojZahtjeva)">XHTML</button>
      <button *ngIf="currentUser.isServant" mat-button matTooltip="Preuzmi u rdf formatu" aria-label="Preuzmi"
        (click)="exportRDF(element.brojZahtjeva)">RDF</button>
      <button *ngIf="currentUser.isServant" mat-button matTooltip="Preuzmi u json formatu" aria-label="Preuzmi"
        (click)="exportJSON(element.brojZahtjeva)">JSON</button>
    </mat-cell>
  </ng-container>


  <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<mat-paginator [length]="pagNumber" [pageSize]="6" [pageSizeOptions]="[1, 3, 6, 9, 15]">
</mat-paginator>
