<h1 *ngIf="!this.isAdmin" mat-dialog-title>Kreirajte žalbu na zahtev broj {{ data.id }}</h1>
<h1 *ngIf="this.isAdmin" mat-dialog-title>Kreirajte rešenje</h1>
<div mat-dialog-content>
  <div id="select" *ngIf="!this.isAdmin && !this.data.isDecision && this.setuj">
    <label id="example-radio-group-label">Izaberite razlog žalbe</label>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="zalba_zbog">
      <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
        {{season}}
      </mat-radio-button>
      <button mat-button *ngIf="this.setuj" cdkFocusInitial (click)="nastavi()">
        Nastavite
      </button>
    </mat-radio-group>
  </div>

  <div id="createDecision" *ngIf="this.isAdmin && !this.setovano_rjesenje">
    <label id="opcija_rjesenje_id">Izaberite opciju</label>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="rjesenje_opcija">
      <mat-radio-button class="example-radio-button" *ngFor="let opcija of opcije" [value]="opcija">
        {{opcija}}
      </mat-radio-button>
      <button mat-button *ngIf="this.rjesenje_opcija" cdkFocusInitial (click)="nastavi_sa_rjesenjem()">
        Nastavite
      </button>
    </mat-radio-group>
  </div>

  
  <div id="showXonomy"></div>

  <div *ngIf="!this.isAdmin" mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="onNoClick()">Odustanite do žalbe</button>
    <button mat-button [mat-dialog-close]="data" *ngIf="!this.setuj" cdkFocusInitial (click)="createAppealOnDecision()">
      Pošaljite žalbu
    </button>
  </div>

  <div *ngIf="this.isAdmin" mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="onNoClick()">Odustanite do kreiranja rešenja</button>
    <button mat-button [mat-dialog-close]="data" *ngIf="this.rjesenje_opcija" cdkFocusInitial (click)="createDecision()">
      Sačuvaj rešenje
    </button>
  </div>
<div>