<div class="container" fxLayout="row" fxLayoutAlign="center none">

  <div fxFlex="95%">
    <mat-card>
      <mat-card-content>
        <div *ngIf="isAdmin">
          <h6>Pretraga rješenja</h6>
          <mat-form-field class="example-form-field">
            <input matInput type="text" [(ngModel)]="value" placeholder="po tekstualnom sadržaju">
            <button mat-button  matSuffix mat-icon-button aria-label="Search" (click)="search(value)">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
          <app-show-search  *ngIf="data" [showData]="data"> </app-show-search>


          <h6>Pretraga žalbi na odbijanje zahteva</h6>
          <mat-form-field class="example-form-field">
            <input matInput type="text" [(ngModel)]="valueAppealDecision" placeholder="po tekstualnom sadržaju">
            <button mat-button  matSuffix mat-icon-button aria-label="Search" (click)="searchAppealDecision(valueAppealDecision)">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
          <app-show-search  *ngIf="dataAppealDecision" [showDataAppealDecision]="dataAppealDecision"> </app-show-search>


          <h6>Pretraga žalbi na ćutanje uprave</h6>
          <mat-form-field class="example-form-field">
            <input matInput type="text" [(ngModel)]="valueAppealSilence" placeholder="po tekstualnom sadržaju">
            <button mat-button  matSuffix mat-icon-button aria-label="Search" (click)="searchAppealSilence(valueAppealSilence)">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
          <app-show-search  *ngIf="dataAppealSilence" [showDataAppealSilence]="dataAppealSilence"> </app-show-search>
        </div>

        <div class = "single-cards" *ngIf = "!isAdmin">
        <h1>  Dobrodošli na portal poverenika!</h1>
        <h6> Ovde možete da pregledate sve svoje žalbe i rešenja, kao i da podnesete žalbu.</h6> 
        </div>
        
      </mat-card-content>
    </mat-card>
  </div>